Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

test
  frontend/app/echo/mom/page.tsx
  frontend/app/echo/page.tsx
  frontend/app/echo/partner/page.tsx
  frontend/components/echo/mom/MeditationTimer.tsx
Due: frontend-eslint, frontend-typecheck

docs: add Echo Domain to changelog, readme, and features
  CHANGELOG.md
  README.md
  docs/features.md
Due: none

feat(echo): add echo module with mom and partner features
  backend/app/main.py
  backend/app/services/echo/__init__.py
  backend/app/services/echo/enums.py
  backend/app/services/echo/matching.py
  backend/app/services/echo/models.py
  backend/app/services/echo/router.py
  backend/app/services/echo/schemas.py
  backend/app/services/echo/seed_data.py
  backend/app/services/echo/service.py
  frontend/app/echo/mom/meditation/page.tsx
  frontend/app/echo/mom/page.tsx
  frontend/app/echo/page.tsx
  frontend/app/echo/partner/page.tsx
  frontend/components/echo/GlassWindow.tsx
  frontend/components/echo/index.ts
  frontend/components/echo/mom/IdentityTagEditor.tsx
  frontend/components/echo/mom/MeditationTimer.tsx
  frontend/components/echo/mom/MemoirCard.tsx
  frontend/components/echo/mom/index.ts
  frontend/components/echo/partner/BlurredMomView.tsx
  frontend/components/echo/partner/ClarityMeter.tsx
  frontend/components/echo/partner/MemoryInjector.tsx
  frontend/components/echo/partner/index.ts
  frontend/lib/api/echo.ts
  frontend/lib/design-tokens.ts
  frontend/next-env.d.ts
  frontend/types/echo.ts
Due: mypy, frontend-eslint, frontend-typecheck

fix: enable new feature echo
  frontend/app/echo/page.tsx
  frontend/app/page.tsx
  frontend/components/home/FloatingCard.tsx
Due: frontend-eslint, frontend-typecheck

test
  frontend/components/auth/SliderCaptcha.tsx
Due: frontend-eslint, frontend-typecheck

feat(shell): improve WishBottle and ConchMemoryInjector UI
  CHANGELOG.md
  frontend/app/community/certification/page.tsx
  frontend/app/identity/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/shell/mom/page.tsx
  frontend/app/shell/partner/page.tsx
  frontend/components/community/UserMenu.tsx
  frontend/components/shell/ConchMemoryInjector.tsx
  frontend/components/shell/GuestGuard.tsx
  frontend/components/shell/Onboarding.tsx
  frontend/components/shell/TopHeader.tsx
  frontend/components/shell/WishBottle.tsx
  frontend/components/shell/index.ts
  frontend/contexts/AuthContext.tsx
Due: frontend-eslint, frontend-typecheck

fix: ruff
  frontend/app/coach/page.tsx
Due: frontend-eslint, frontend-typecheck

feat: dadmode
  .gitignore
  backend/app/services/echo/enums.py
  backend/app/services/echo/models.py
  backend/app/services/echo/router.py
  backend/app/services/echo/schemas.py
  backend/app/services/echo/service.py
  backend/scripts/add_dad_mode_2_0_tables.py
  frontend/app/echo/partner/page.tsx
  frontend/components/echo/partner/BeachArea.tsx
  frontend/components/echo/partner/BottomNavigation.tsx
  frontend/components/echo/partner/CelebrationAnimation.tsx
  frontend/components/echo/partner/LightString.tsx
  frontend/components/echo/partner/MemoryConchIcon.tsx
  frontend/components/echo/partner/MemoryInjectModal.tsx
  frontend/components/echo/partner/NotificationBell.tsx
  frontend/components/echo/partner/TaskDetailModal.tsx
  frontend/components/echo/partner/TaskShell.tsx
  frontend/components/echo/partner/TopBar.tsx
  frontend/components/echo/partner/WishBottleIcon.tsx
  frontend/components/echo/partner/WishSeaModal.tsx
  frontend/components/echo/partner/index.ts
  frontend/lib/api/echo.ts
  frontend/lib/design-tokens.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/echo.ts
Due: mypy, frontend-eslint, frontend-typecheck

refactor(backend): remove coach module
  backend/app/api/v1/exercises.py
  backend/app/api/v1/progress.py
  backend/app/api/v1/websocket.py
  backend/app/services/coach/__init__.py
  backend/app/services/coach/analysis/__init__.py
  backend/app/services/coach/analysis/posture.py
  backend/app/services/coach/analysis/safety.py
  backend/app/services/coach/exercises/__init__.py
  backend/app/services/coach/exercises/library.py
  backend/app/services/coach/feedback/__init__.py
  backend/app/services/coach/feedback/generator.py
  backend/app/services/coach/feedback/tts.py
  backend/app/services/coach/models.py
  backend/app/services/coach/pose/__init__.py
  backend/app/services/coach/pose/detector.py
  backend/app/services/coach/pose/keypoints.py
  backend/app/services/coach/progress/__init__.py
  backend/app/services/coach/progress/achievements.py
  backend/app/services/coach/progress/tracker.py
  backend/app/services/coach/workflow/__init__.py
  backend/app/services/coach/workflow/graph.py
  backend/app/services/coach/workflow/nodes/__init__.py
  backend/app/services/coach/workflow/nodes/analyze.py
  backend/app/services/coach/workflow/nodes/detect.py
  backend/app/services/coach/workflow/nodes/feedback.py
  backend/app/services/coach/workflow/nodes/track.py
  backend/app/services/coach/workflow/state.py
Due: mypy

refactor(backend): remove echo module
  backend/app/services/echo/__init__.py
  backend/app/services/echo/enums.py
  backend/app/services/echo/matching.py
  backend/app/services/echo/models.py
  backend/app/services/echo/router.py
  backend/app/services/echo/schemas.py
  backend/app/services/echo/seed_data.py
  backend/app/services/echo/service.py
Due: mypy

feat(backend): add beach service for Shell Beach system
  backend/app/services/beach/__init__.py
  backend/app/services/beach/enums.py
  backend/app/services/beach/generator.py
  backend/app/services/beach/models.py
  backend/app/services/beach/router.py
  backend/app/services/beach/schemas.py
  backend/app/services/beach/service.py
  backend/app/services/community/models.py
Due: mypy

refactor(backend): remove guardian service layer
  backend/app/main.py
  backend/app/services/guardian/__init__.py
  backend/app/services/guardian/router.py
  backend/app/services/guardian/schemas.py
  backend/app/services/guardian/seed_data.py
  backend/app/services/guardian/service.py
Due: mypy

refactor(frontend): remove deprecated pages
  frontend/app/auth/forgot-password/page.tsx
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/auth/reset-password/page.tsx
  frontend/app/coach/page.tsx
  frontend/app/community/admin/certifications/page.tsx
  frontend/app/community/certification/page.tsx
  frontend/app/community/collections/page.tsx
  frontend/app/community/my-posts/page.tsx
  frontend/app/community/my-replies/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/app/echo/mom/meditation/page.tsx
  frontend/app/echo/mom/page.tsx
  frontend/app/echo/page.tsx
  frontend/app/echo/partner/page.tsx
  frontend/app/guardian/page.tsx
Due: frontend-eslint, frontend-typecheck

refactor(frontend): remove deprecated types, hooks, and libs
  frontend/hooks/useCompanion.ts
  frontend/lib/api.ts
  frontend/lib/api/echo.ts
  frontend/lib/api/guardian.ts
  frontend/lib/design-tokens.ts
  frontend/lib/user.ts
  frontend/types/coach.ts
  frontend/types/community.ts
  frontend/types/companion.ts
  frontend/types/echo.ts
  frontend/types/guardian.ts
Due: frontend-eslint, frontend-typecheck

feat(frontend): add Shell Beach pages
  frontend/app/beach/dad/page.tsx
  frontend/app/beach/mom/page.tsx
  frontend/lib/api/beach.ts
Due: frontend-eslint, frontend-typecheck

feat(frontend): rewrite core pages and auth system
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/contexts/AuthContext.tsx
  frontend/lib/apiClient.ts
  frontend/lib/auth.ts
Due: frontend-eslint, frontend-typecheck

feat(frontend): add community Q&A pages
  frontend/app/community/[id]/page.tsx
  frontend/app/community/page.tsx
  frontend/lib/api/community.ts
Due: frontend-eslint, frontend-typecheck

feat(frontend): add gallery, profile, and chat pages
  frontend/app/chat/page.tsx
  frontend/app/gallery/page.tsx
  frontend/app/profile/page.tsx
Due: frontend-eslint, frontend-typecheck

docs: consolidate changelog to v1.0.0
  CHANGELOG.md
Due: none

chore(frontend): update config and dependencies
  frontend/next.config.ts
  frontend/package.json
Due: frontend-eslint, frontend-typecheck

chore: update frontend/package-lock.json
  frontend/package-lock.json
Due: none

feat(frontend): add shared components and design system
  frontend/app/globals.css
  frontend/components/BottomNav.tsx
Due: frontend-eslint, frontend-typecheck

feat: new beach ui
  frontend.new/index.html
Due: none

perf: improve css performance
  frontend.new/index.html
Due: none

perf: improve css performance
  frontend.new/assets/sand.png
  frontend.new/index.html
Due: none

perf: better css
  frontend.new/assets/render-sand.js
  frontend.new/index.html
  frontend.new/package-lock.json
  frontend.new/package.json
Due: none

refactor: restructure beach scene into Vue 3 + Vite + TypeScript
  frontend.new/assets/render-sand.ts
  frontend.new/env.d.ts
  frontend.new/index.html
  frontend.new/package-lock.json
  frontend.new/package.json
  frontend.new/src/App.vue
  frontend.new/src/assets/sand.png
  frontend.new/src/components/scene/BeachScene.vue
  frontend.new/src/components/scene/CloudLayer.vue
  frontend.new/src/components/scene/HintOverlay.vue
  frontend.new/src/components/scene/OceanLayer.vue
  frontend.new/src/components/scene/SandLayer.vue
  frontend.new/src/components/scene/SeagullLayer.vue
  frontend.new/src/components/scene/SkyLayer.vue
  frontend.new/src/components/scene/SunLayer.vue
  frontend.new/src/components/scene/SunReflectionLayer.vue
  frontend.new/src/components/scene/WaveLayer.vue
  frontend.new/src/composables/useAnimationLoop.ts
  frontend.new/src/composables/useInputHandler.ts
  frontend.new/src/composables/useParallax.ts
  frontend.new/src/composables/useProceduralElements.ts
  frontend.new/src/composables/useWaveSystem.ts
  frontend.new/src/constants/clouds.ts
  frontend.new/src/constants/colors.ts
  frontend.new/src/constants/layers.ts
  frontend.new/src/constants/reflections.ts
  frontend.new/src/constants/seagulls.ts
  frontend.new/src/constants/waves.ts
  frontend.new/src/main.ts
  frontend.new/src/styles/animations.css
  frontend.new/src/styles/reset.css
  frontend.new/src/styles/variables.css
  frontend.new/src/types/scene.ts
  frontend.new/src/utils/random.ts
  frontend.new/tsconfig.json
  frontend.new/tsconfig.node.json
  frontend.new/vite.config.ts
Due: none

feat: place assets
  frontend.new/package-lock.json
  frontend.new/src/components/scene/BeachScene.vue
  frontend.new/src/components/scene/SpritesLayer.vue
  frontend.new/src/constants/layers.ts
  frontend.new/src/constants/sprites.ts
  frontend.new/tsconfig.node.json
  frontend.new/vite.config.ts
Due: none

refactor: consolidate assets into src/assets and fix import paths
  frontend.new/assets/sand.png
  frontend.new/scripts/render-sand.ts
  frontend.new/src/assets/bar.png
  frontend.new/src/assets/car.png
  frontend.new/src/assets/crab.png
  frontend.new/src/assets/shell.png
  frontend.new/src/assets/stone.png
  frontend.new/src/constants/sprites.ts
  frontend.new/tsconfig.node.json
  frontend.new/vite.config.ts
Due: none

feat: placement modified
  frontend.new/src/components/scene/SpritesLayer.vue
  frontend.new/src/constants/layers.ts
  frontend.new/src/constants/sprites.ts
Due: none

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
