Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat(guardian): add Guardian Partner frontend module
  frontend/app/guardian/page.tsx
  frontend/components/guardian/GuardianDashboard.tsx
  frontend/lib/api/guardian.ts
  frontend/types/guardian.ts
Due: frontend-eslint, frontend-typecheck

feat(homepage): update feature names and add Guardian Partner card
  frontend/app/page.tsx
Due: frontend-eslint, frontend-typecheck

docs: update changelog and readme for Guardian Partner feature
  CHANGELOG.md
  README.md
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix: constant database
  .env.example
  Dockerfile
  backend/app/main.py
Due: mypy

fix: database
  .env.example
  backend/app/core/config.py
  backend/app/main.py
Due: mypy

feat: ai response
  backend/app/api/v1/progress.py
  backend/app/main.py
  backend/app/services/auth/router.py
  backend/app/services/auth/schemas.py
  backend/app/services/chat/models.py
  backend/app/services/chat/router.py
  backend/app/services/chat/service.py
  backend/app/services/coach/models.py
  backend/app/services/community/ai_reply.py
  backend/app/services/community/enums.py
  backend/app/services/community/router/answers.py
  backend/app/services/community/router/certifications.py
  backend/app/services/community/router/comments.py
  backend/app/services/community/router/questions.py
  frontend/app/coach/page.tsx
  frontend/app/community/admin/certifications/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/app/page.tsx
  frontend/components/CompanionInterface.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/PostCard.tsx
  frontend/components/community/QuestionDetailModal.tsx
  frontend/components/home/FloatingCard.tsx
  frontend/lib/auth.ts
  frontend/types/community.ts
Due: mypy, frontend-eslint, frontend-typecheck

fix: fix comment loop
  CHANGELOG.md
  frontend/components/community/QuestionDetailModal.tsx
Due: frontend-eslint, frontend-typecheck

feat: update ai chat
  backend/app/services/chat/schemas.py
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/community/router/answers.py
  backend/app/services/community/router/comments.py
  backend/app/services/community/router/questions.py
Due: mypy

fix: require auth for /chat route
  frontend/app/chat/page.tsx
  frontend/components/AuthGuard.tsx
Due: frontend-eslint, frontend-typecheck

feat: add Firecrawl web search to reduce AI hallucinations
  .env.example
  backend/app/core/config.py
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/web_search.py
Due: mypy

docs: update CHANGELOG for v0.5.1
  CHANGELOG.md
Due: none

feat: add web search to all AI reply paths
  backend/app/services/community/ai_reply.py
Due: mypy

feat: increase web search results and content length
  backend/app/services/web_search.py
Due: mypy

docs: update CHANGELOG and README for web search coverage
  CHANGELOG.md
  README.md
Due: none

feat: add setup script
  scripts/dev-setup.sh
Due: none

docs: update document
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

docs: update document
  README.md
Due: none

docs: change license to APGL-3.0
  CHANGELOG.md
  LICENSE
  README.md
Due: none

fix: ai chat
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/community/router/answers.py
  backend/app/services/web_search.py
  frontend/app/coach/page.tsx
  frontend/app/community/admin/certifications/page.tsx
  frontend/app/community/certification/page.tsx
  frontend/app/community/collections/page.tsx
  frontend/app/community/my-posts/page.tsx
  frontend/app/community/my-replies/page.tsx
  frontend/app/community/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/app/guardian/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/QuestionDetailModal.tsx
Due: mypy, frontend-eslint, frontend-typecheck

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
