Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

ci: update workflow for backend directory
  .github/workflows/ci.yml
Due: none

fix: move Dockerfile to root for deployment platforms
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
Due: none

chore: add tests
  backend/tests/.gitkeep
Due: none

fix: fix docker
  .env.example
  Dockerfile
  README.md
  backend/app/core/config.py
Due: mypy

fix: remove editable install from requirements.txt
  .pre-commit-config.yaml
  backend/requirements.txt
Due: none

ci: use Python 3.11 instead of 3.11.5
  .github/workflows/ci.yml
Due: none

docs: update readme
  README.md
Due: none

docs: update dir
  backend/models/.gitkeep
Due: none

docs: update dir
  .gitignore
  README.md
  backend/app/models/.gitkeep
  backend/tts_cache/.gitkeep
Due: none

fix: docker
  .dockerignore
  Dockerfile
  backend/app/services/auth/dependencies.py
  frontend/lib/apiClient.ts
  frontend/lib/auth.ts
Due: mypy, frontend-eslint, frontend-typecheck

fix: docker
  Dockerfile
  backend/app/services/community/dependencies.py
  backend/app/services/community/router/certifications.py
  backend/app/services/community/router/questions.py
  backend/app/services/community/router/tags.py
  frontend/lib/api/community.ts
Due: mypy, frontend-eslint, frontend-typecheck

feat(guardian): add Guardian Partner frontend module
  frontend/app/guardian/page.tsx
  frontend/components/guardian/GuardianDashboard.tsx
  frontend/lib/api/guardian.ts
  frontend/types/guardian.ts
Due: frontend-eslint, frontend-typecheck

docs: update changelog and readme for Guardian Partner feature
  CHANGELOG.md
  README.md
Due: none

feat(homepage): update feature names and add Guardian Partner card
  frontend/app/page.tsx
Due: frontend-eslint, frontend-typecheck

feat(guardian): add Guardian Partner backend module
  backend/app/main.py
  backend/app/services/guardian/__init__.py
  backend/app/services/guardian/enums.py
  backend/app/services/guardian/models.py
  backend/app/services/guardian/router.py
  backend/app/services/guardian/schemas.py
  backend/app/services/guardian/seed_data.py
  backend/app/services/guardian/service.py
Due: mypy

fix: fix button
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/home/FloatingCard.tsx
Due: frontend-eslint, frontend-typecheck

fix: fix button
  frontend/app/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/home/AnimatedText.tsx
  frontend/components/home/FloatingCard.tsx
Due: frontend-eslint, frontend-typecheck

fix: fix button
  frontend/components/community/QuestionModal.tsx
Due: frontend-eslint, frontend-typecheck

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
