Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

chore: update python package
  backend/requirements.txt
  backend/uv.lock
Due: uv-export

docs: update docs
  CHANGELOG.md
Due: none

docs: update docs
  LICENSE
Due: none

docs: change license to AGPL-3.0
  LICENSE
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 3: Clear-text logging of sensitive information
  backend/app/services/auth/router.py
Due: mypy

Potential fix for code scanning alert no. 4: Clear-text logging of sensitive information
  backend/app/services/chat/service.py
Due: mypy

Potential fix for code scanning alert no. 5: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 6: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 7: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 8: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 9: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 10: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 11: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 12: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 13: Uncontrolled data used in path expression
  backend/app/main.py
Due: mypy

Potential fix for code scanning alert no. 14: Insecure randomness
  backend/app/static/js/app.js
Due: none

Potential fix for code scanning alert no. 15: Insecure randomness
  frontend/app/coach/page.tsx
Due: frontend-eslint, frontend-typecheck

Potential fix for code scanning alert no. 16: Client-side cross-site scripting
  backend/app/static/js/app.js
Due: none

fix: fix auth
  .env.example
  CHANGELOG.md
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/auth/schemas.py
  backend/app/services/auth/service.py
  backend/app/services/community/schemas/user.py
  backend/app/services/community/service.py
  docs/development.md
  frontend/.env.example
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/components/auth/SliderCaptcha.tsx
  frontend/lib/api/community.ts
  frontend/lib/auth.ts
  scripts/dev-setup.sh
Due: mypy, frontend-eslint, frontend-typecheck

fix: fix filter
  CHANGELOG.md
  backend/app/services/auth/service.py
  backend/app/services/community/service.py
  frontend/app/auth/register/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/QuestionDetailModal.tsx
  frontend/lib/apiClient.ts
Due: mypy, frontend-eslint, frontend-typecheck

chore: update ci
  .github/workflows/ci.yml
Due: none

docs: update readme
  README.md
Due: none

chore: update packages
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: uv-export, uv-lock-check

fix: enable new feature echo
  frontend/app/echo/page.tsx
  frontend/app/page.tsx
  frontend/components/home/FloatingCard.tsx
Due: frontend-eslint, frontend-typecheck

feat(echo): add echo module with mom and partner features
  backend/app/main.py
  backend/app/services/echo/__init__.py
  backend/app/services/echo/enums.py
  backend/app/services/echo/matching.py
  backend/app/services/echo/models.py
  backend/app/services/echo/router.py
  backend/app/services/echo/schemas.py
  backend/app/services/echo/seed_data.py
  backend/app/services/echo/service.py
  frontend/app/echo/mom/meditation/page.tsx
  frontend/app/echo/mom/page.tsx
  frontend/app/echo/page.tsx
  frontend/app/echo/partner/page.tsx
  frontend/components/echo/GlassWindow.tsx
  frontend/components/echo/index.ts
  frontend/components/echo/mom/IdentityTagEditor.tsx
  frontend/components/echo/mom/MeditationTimer.tsx
  frontend/components/echo/mom/MemoirCard.tsx
  frontend/components/echo/mom/index.ts
  frontend/components/echo/partner/BlurredMomView.tsx
  frontend/components/echo/partner/ClarityMeter.tsx
  frontend/components/echo/partner/MemoryInjector.tsx
  frontend/components/echo/partner/index.ts
  frontend/lib/api/echo.ts
  frontend/lib/design-tokens.ts
  frontend/next-env.d.ts
  frontend/types/echo.ts
Due: mypy, frontend-eslint, frontend-typecheck

test
  frontend/components/auth/SliderCaptcha.tsx
Due: frontend-eslint, frontend-typecheck

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
