Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: uv export --no-dev --output-file requirements.txt
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: uv lock --check
  language: system
  pass_filenames: false

chore: test push
  test.md
Due: none

chore: update ci
  .github/workflows/ci.yml
Due: none

docs: update contributing
  CONTRIBUTING.md
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: update dockerignore
  .dockerignore
Due: none

chore: add project configuration for recovery coach
  .env.example
  .gitignore
  app/core/config.py
  app/core/database.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: mypy, uv-export, uv-lock-check

docs: add architecture design and changelog
  CHANGELOG.md
  CLAUDE.md
Due: none

feat: add Pydantic schemas for recovery coach
  app/schemas/exercise.py
  app/schemas/feedback.py
  app/schemas/pose.py
  app/schemas/progress.py
Due: mypy

feat: add frontend web app for recovery coach
  app/static/css/style.css
  app/static/js/app.js
  app/templates/index.html
Due: none

feat: add FastAPI main application with MediaPipe preloading
  app/main.py
Due: mypy

feat: add WebSocket and REST API routes
  app/api/routes/__init__.py
  app/api/routes/exercises.py
  app/api/routes/progress.py
  app/api/routes/websocket.py
Due: mypy

feat: add core recovery coach modules
  app/recovery_coach/__init__.py
  app/recovery_coach/analysis/__init__.py
  app/recovery_coach/analysis/posture.py
  app/recovery_coach/analysis/safety.py
  app/recovery_coach/exercises/__init__.py
  app/recovery_coach/exercises/library.py
  app/recovery_coach/feedback/__init__.py
  app/recovery_coach/feedback/generator.py
  app/recovery_coach/feedback/tts.py
  app/recovery_coach/pose/__init__.py
  app/recovery_coach/pose/detector.py
  app/recovery_coach/pose/keypoints.py
  app/recovery_coach/progress/__init__.py
  app/recovery_coach/progress/achievements.py
  app/recovery_coach/progress/tracker.py
  app/recovery_coach/workflow/__init__.py
  app/recovery_coach/workflow/graph.py
  app/recovery_coach/workflow/nodes/__init__.py
  app/recovery_coach/workflow/nodes/analyze.py
  app/recovery_coach/workflow/nodes/detect.py
  app/recovery_coach/workflow/nodes/feedback.py
  app/recovery_coach/workflow/nodes/track.py
  app/recovery_coach/workflow/state.py
Due: mypy

fix: import sorting (ruff I001)
  app/api/routes/exercises.py
  app/api/routes/progress.py
  app/api/routes/websocket.py
  app/services/rehab/analysis/posture.py
  app/services/rehab/feedback/generator.py
  app/services/rehab/progress/tracker.py
  app/services/rehab/workflow/nodes/feedback.py
  app/services/rehab/workflow/state.py
Due: mypy

docs: remove redundant doc
  CLAUDE.md
Due: none

chore: Add CLAUDE.md to .gitignore
  .gitignore
Due: none

fix: remove api/v1
  app/api/v1/__init__.py
Due: mypy

docs: update changelog
  CHANGELOG.md
Due: none

chore: update py config
  .python-version
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-export, uv-lock-check

docs: update readme
  README.md
Due: none

chore: add nvm
  frontend/.nvmrc
Due: none

chore: add nvm
  frontend/package-lock.json
Due: none

Path conditions:
  mypy: any of: \.py$
  uv-export: any of: ^uv\.lock$
  uv-lock-check: any of: ^pyproject\.toml$
