Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=10000"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

      - id: uv-export
        name: Export requirements.txt
        entry: uv export --no-dev --output-file requirements.txt
        language: system
        files: ^uv\.lock$
        pass_filenames: false

      - id: uv-lock-check
        name: Check uv.lock consistency
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

chore: add project configuration for recovery coach
  .env.example
  .gitignore
  app/core/config.py
  app/core/database.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: mypy, uv-export, uv-lock-check

docs: add architecture design and changelog
  CHANGELOG.md
  CLAUDE.md
Due: none

chore: update next-env.d.ts
  frontend/next-env.d.ts
Due: none

chore: Add CLAUDE.md to .gitignore
  .gitignore
Due: none

feat: add core recovery coach modules
  app/recovery_coach/__init__.py
  app/recovery_coach/analysis/__init__.py
  app/recovery_coach/analysis/posture.py
  app/recovery_coach/analysis/safety.py
  app/recovery_coach/exercises/__init__.py
  app/recovery_coach/exercises/library.py
  app/recovery_coach/feedback/__init__.py
  app/recovery_coach/feedback/generator.py
  app/recovery_coach/feedback/tts.py
  app/recovery_coach/pose/__init__.py
  app/recovery_coach/pose/detector.py
  app/recovery_coach/pose/keypoints.py
  app/recovery_coach/progress/__init__.py
  app/recovery_coach/progress/achievements.py
  app/recovery_coach/progress/tracker.py
  app/recovery_coach/workflow/__init__.py
  app/recovery_coach/workflow/graph.py
  app/recovery_coach/workflow/nodes/__init__.py
  app/recovery_coach/workflow/nodes/analyze.py
  app/recovery_coach/workflow/nodes/detect.py
  app/recovery_coach/workflow/nodes/feedback.py
  app/recovery_coach/workflow/nodes/track.py
  app/recovery_coach/workflow/state.py
Due: mypy

docs: remove redundant doc
  CLAUDE.md
Due: none

fix: import sorting (ruff I001)
  app/api/routes/exercises.py
  app/api/routes/progress.py
  app/api/routes/websocket.py
  app/services/rehab/analysis/posture.py
  app/services/rehab/feedback/generator.py
  app/services/rehab/progress/tracker.py
  app/services/rehab/workflow/nodes/feedback.py
  app/services/rehab/workflow/state.py
Due: mypy

feat: add Pydantic schemas for recovery coach
  app/schemas/exercise.py
  app/schemas/feedback.py
  app/schemas/pose.py
  app/schemas/progress.py
Due: mypy

docs: update readme
  README.md
Due: none

chore: add nvm
  frontend/package-lock.json
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix: remove api/v1
  app/api/v1/__init__.py
Due: mypy

feat: add frontend web app for recovery coach
  app/static/css/style.css
  app/static/js/app.js
  app/templates/index.html
Due: none

feat: add WebSocket and REST API routes
  app/api/routes/__init__.py
  app/api/routes/exercises.py
  app/api/routes/progress.py
  app/api/routes/websocket.py
Due: mypy

feat: add FastAPI main application with MediaPipe preloading
  app/main.py
Due: mypy

chore: update py config
  .python-version
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-export, uv-lock-check

chore: add nvm
  frontend/.nvmrc
Due: none

chore: add frontend cq check
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

test: frontend cq check
  frontend/package-lock.json
Due: none

fix: frontend cq
  frontend/app/rehab/page.tsx
  frontend/eslint.config.mjs
  frontend/tsconfig.tsbuildinfo
  requirements.txt
Due: none

fix: frontend cq
  .gitignore
Due: none

chore: update gitignore and docker for frontend
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/tsconfig.tsbuildinfo
Due: none

fix: frontend cq
  frontend/tsconfig.json
Due: none

fix: frontend cq
  .github/workflows/ci.yml
Due: none

fix: frontend cq
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.typecheck.json
Due: none

fix: frontend cq
  frontend/tsconfig.typecheck.json
Due: none

fix: frontend cq
  frontend/tsconfig.tsbuildinfo
  frontend/tsconfig.typecheck.json
Due: none

fix: frontend cq
  frontend/app/chat/page.tsx
  frontend/components/AmbientCanvas.tsx
  frontend/components/CompanionInterface.tsx
  frontend/hooks/useCompanion.ts
  frontend/package.json
Due: none

fix: frontend cq
  .gitignore
  frontend/lib/api.ts
  frontend/tsconfig.typecheck.json
Due: none
