Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=10000"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

      - id: uv-export
        name: Export requirements.txt
        entry: uv export --no-dev --output-file requirements.txt
        language: system
        files: ^uv\.lock$
        pass_filenames: false

      - id: uv-lock-check
        name: Check uv.lock consistency
        entry: uv lock --check
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

fix: frontend cq
  frontend/app/chat/page.tsx
  frontend/components/AmbientCanvas.tsx
  frontend/components/CompanionInterface.tsx
  frontend/hooks/useCompanion.ts
  frontend/package.json
Due: none

chore: update gitignore and docker for frontend
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/tsconfig.tsbuildinfo
Due: none

fix: frontend cq
  frontend/tsconfig.tsbuildinfo
  frontend/tsconfig.typecheck.json
Due: none

fix: frontend cq
  frontend/tsconfig.json
Due: none

fix: frontend cq
  frontend/tsconfig.typecheck.json
Due: none

fix: frontend cq
  .gitignore
Due: none

fix: frontend cq
  .github/workflows/ci.yml
Due: none

docs: update documentation and environment configuration
  .env.example
  CHANGELOG.md
  README.md
Due: none

perf: fix frame processing stuttering by running LLM feedback in background
  .gitignore
  CHANGELOG.md
  app/api/routes/websocket.py
  app/core/config.py
  app/services/rehab/pose/detector.py
  app/services/rehab/workflow/graph.py
  app/services/rehab/workflow/nodes/detect.py
  app/services/rehab/workflow/nodes/feedback.py
  frontend/app/rehab/page.tsx
Due: mypy

feat: community
  app/main.py
  app/services/community/__init__.py
  app/services/community/dependencies.py
  app/services/community/enums.py
  app/services/community/models.py
  app/services/community/moderation/__init__.py
  app/services/community/moderation/crisis.py
  app/services/community/moderation/keywords.py
  app/services/community/moderation/service.py
  app/services/community/router/__init__.py
  app/services/community/router/answers.py
  app/services/community/router/certifications.py
  app/services/community/router/comments.py
  app/services/community/router/interactions.py
  app/services/community/router/moderation.py
  app/services/community/router/questions.py
  app/services/community/router/tags.py
  app/services/community/schemas/__init__.py
  app/services/community/schemas/answers.py
  app/services/community/schemas/base.py
  app/services/community/schemas/certifications.py
  app/services/community/schemas/comments.py
  app/services/community/schemas/interactions.py
  app/services/community/schemas/questions.py
  app/services/community/schemas/tags.py
  app/services/community/service.py
  pyproject.toml
  uv.lock
Due: mypy, uv-export, uv-lock-check

fix: community landscaping
  frontend/app/globals.css
  frontend/components/community/ChannelSwitcher.tsx
  frontend/components/community/CommunityBackground.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/PostCard.tsx
  frontend/lib/design-tokens.ts
Due: none

fix: cq
  app/services/community/__init__.py
  app/services/community/dependencies.py
  app/services/community/models.py
  app/services/community/moderation/keywords.py
  app/services/community/moderation/service.py
  app/services/community/router/answers.py
  app/services/community/router/certifications.py
  app/services/community/router/interactions.py
  app/services/community/router/moderation.py
  app/services/community/router/questions.py
  app/services/community/router/tags.py
  app/services/community/schemas/base.py
  app/services/community/schemas/certifications.py
  app/services/community/service.py
Due: mypy

fix: frame landscaping
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/home/AnimatedText.tsx
  frontend/components/home/FloatingCard.tsx
  frontend/components/home/MeshGradientBackground.tsx
  frontend/components/home/MoodBall.tsx
  frontend/components/home/PageTransition.tsx
Due: none

fix: bug
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/mockData.ts
Due: none

feat: new frontend
  frontend/app/community/page.tsx
  frontend/app/page.tsx
  frontend/components/community/ChannelSwitcher.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/PostCard.tsx
  frontend/components/community/mockData.ts
  frontend/next.config.ts
  frontend/types/community.ts
Due: none

fix: community features adding and landscaping
  frontend/app/community/collections/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/DailyResonance.tsx
  frontend/components/community/ShellPicks.tsx
Due: none

fix: feat/community's bug
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/QuestionDetailModal.tsx
  frontend/components/community/QuestionModal.tsx
Due: none

fix: remove redundant file
  app/models/__init.py
  tests/__init__.py
Due: mypy

docs: update readme and changelog
  CHANGELOG.md
  README.md
Due: none

fix: coach components lint errors
  frontend/app/rehab/page.tsx
  frontend/components/coach/AchievementBadge.tsx
  frontend/components/coach/CoachBackground.tsx
  frontend/components/coach/EnergyRing.tsx
  frontend/components/coach/ExerciseCard.tsx
  frontend/components/coach/FeedbackToast.tsx
  frontend/components/coach/PoseOverlay.tsx
  frontend/components/coach/SessionProgress.tsx
  frontend/components/coach/index.ts
  frontend/types/coach.ts
Due: none
