Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: ai chat
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/community/router/answers.py
  backend/app/services/web_search.py
  frontend/app/coach/page.tsx
  frontend/app/community/admin/certifications/page.tsx
  frontend/app/community/certification/page.tsx
  frontend/app/community/collections/page.tsx
  frontend/app/community/my-posts/page.tsx
  frontend/app/community/my-replies/page.tsx
  frontend/app/community/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/app/guardian/page.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/QuestionDetailModal.tsx
Due: mypy, frontend-eslint, frontend-typecheck

docs: change license to APGL-3.0
  CHANGELOG.md
  LICENSE
  README.md
Due: none

docs: update document
  README.md
Due: none

feat: increase web search results and content length
  backend/app/services/web_search.py
Due: mypy

docs: update CHANGELOG and README for web search coverage
  CHANGELOG.md
  README.md
Due: none

docs: update document
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

feat: add setup script
  scripts/dev-setup.sh
Due: none

feat: add web search to all AI reply paths
  backend/app/services/community/ai_reply.py
Due: mypy

feat: add Chain-of-Verification (CoVe) for hallucination reduction
  CHANGELOG.md
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/verification.py
Due: mypy

feat: add keyword extraction and scrape options for web search
  backend/app/services/web_search.py
Due: mypy

feat: add location and time extraction for smarter web search
  backend/app/services/web_search.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: mypy, uv-export, uv-lock-check

feat: filter PDF files and add onlyMainContent option
  backend/app/services/web_search.py
Due: mypy

feat: use AI to decide whether web search is needed
  backend/app/services/web_search.py
Due: mypy

perf: combine 3 LLM calls into 1 for search analysis
  backend/app/services/web_search.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: mypy, uv-export, uv-lock-check

perf: combine 3 CoVe LLM calls into 1
  backend/app/services/verification.py
Due: mypy

feat: add source citation links to AI replies
  CHANGELOG.md
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/web_search.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
