Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check, frontend-eslint, frontend-typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: bash -c 'cd backend && uv export --no-dev --no-emit-project --output-file requirements.txt'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: bash -c 'cd backend && uv lock --check'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat: add Chain-of-Verification (CoVe) for hallucination reduction
  CHANGELOG.md
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/verification.py
Due: mypy

perf: combine 3 CoVe LLM calls into 1
  backend/app/services/verification.py
Due: mypy

feat: add source citation links to AI replies
  CHANGELOG.md
  backend/app/services/chat/service.py
  backend/app/services/community/ai_reply.py
  backend/app/services/web_search.py
Due: mypy

feat: add location and time extraction for smarter web search
  backend/app/services/web_search.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: mypy, uv-export, uv-lock-check

feat: add keyword extraction and scrape options for web search
  backend/app/services/web_search.py
Due: mypy

docs: update docs
  README.md
  docs/README.md
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  docs/features.md
  docs/getting-started.md
Due: none

docs: update docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/.gitkeep
  docs/README.md
  docs/architecture.md
  docs/configuration.md
Due: none

docs: update docs
  docs/architecture.md
Due: none

docs: update docs
  README.md
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  frontend/package.json
Due: uv-export, uv-lock-check

docs: update docs
  README.md
Due: none

docs: update docs
  README.md
  SECURITY.md
Due: none

chore: add dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  mypy: any of: ^backend/ and \.py$
  uv-export: any of: ^backend/uv\.lock$
  uv-lock-check: any of: ^backend/pyproject\.toml$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
