Repository koishi510/MomShell: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-export, uv-lock-check

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

uv-export:
  name: Export requirements.txt
  entry: uv export --no-dev --output-file requirements.txt
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock consistency
  entry: uv lock --check
  language: system
  pass_filenames: false

docs: update documentation and environment configuration
  .env.example
  CHANGELOG.md
  README.md
Due: none

docs: update readme and changelog
  CHANGELOG.md
  README.md
Due: none

fix: remove redundant file
  app/models/__init.py
  tests/__init__.py
Due: mypy

fix: frame landscaping
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/home/AnimatedText.tsx
  frontend/components/home/FloatingCard.tsx
  frontend/components/home/MeshGradientBackground.tsx
  frontend/components/home/MoodBall.tsx
  frontend/components/home/PageTransition.tsx
Due: none

fix: community landscaping
  frontend/app/globals.css
  frontend/components/community/ChannelSwitcher.tsx
  frontend/components/community/CommunityBackground.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/PostCard.tsx
  frontend/lib/design-tokens.ts
Due: none

feat: add docker
  .env.example
  .gitignore
  CHANGELOG.md
  Dockerfile
  PLAN.md
  README.md
  app/core/config.py
  app/main.py
  app/services/chat/service.py
  app/services/rehab/feedback/generator.py
  data/.gitkeep
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/rehab/page.tsx
  frontend/lib/api.ts
  frontend/next.config.ts
  nginx.conf
  pyproject.toml
  requirements.txt
  uv.lock
Due: mypy, uv-export, uv-lock-check

perf: lite model
  Dockerfile
  app/api/routes/exercises.py
  app/main.py
  app/services/rehab/pose/detector.py
  frontend/app/rehab/page.tsx
  frontend/package-lock.json
  requirements.txt
Due: mypy

docs: rm plan
  PLAN.md
Due: none

fix: fix docker
  .env.example
  CHANGELOG.md
  README.md
  app/core/config.py
  app/main.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/rehab/page.tsx
Due: mypy

refactor: update frame
  CHANGELOG.md
  Dockerfile
  README.md
  app/api/routes/exercises.py
  app/api/routes/progress.py
  app/api/routes/websocket.py
  app/main.py
  app/services/coach/__init__.py
  app/services/coach/analysis/__init__.py
  app/services/coach/analysis/posture.py
  app/services/coach/analysis/safety.py
  app/services/coach/exercises/__init__.py
  app/services/coach/exercises/library.py
  app/services/coach/feedback/__init__.py
  app/services/coach/feedback/generator.py
  app/services/coach/feedback/tts.py
  app/services/coach/pose/__init__.py
  app/services/coach/pose/detector.py
  app/services/coach/pose/keypoints.py
  app/services/coach/progress/__init__.py
  app/services/coach/progress/achievements.py
  app/services/coach/progress/tracker.py
  app/services/coach/workflow/__init__.py
  app/services/coach/workflow/graph.py
  app/services/coach/workflow/nodes/__init__.py
  app/services/coach/workflow/nodes/analyze.py
  app/services/coach/workflow/nodes/detect.py
  app/services/coach/workflow/nodes/feedback.py
  app/services/coach/workflow/nodes/track.py
  app/services/coach/workflow/state.py
  frontend/app/coach/page.tsx
  frontend/app/page.tsx
  frontend/components/community/mockData.ts
  frontend/lib/design-tokens.ts
  frontend/next-env.d.ts
Due: mypy

docs: update docs
  CONTRIBUTING.md
  README.md
Due: none

docs: update docs
  CONTRIBUTING.md
Due: none

docs: Update repository URL in README
  README.md
Due: none

docs: update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: update readme
  README.md
Due: none

docs: Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

docs: add security
  SECURITY.md
Due: none

docs: add issue template
  .github/ISSUE_TEMPLATE/ai_provider_issue.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/coach_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: add makefile
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  requirements.txt
Due: none

chore: add docs
  docs/.gitkeep
Due: none

chore: add tests
  tests/.gitkeep
Due: none

feat: update community
  CHANGELOG.md
  app/main.py
  app/services/community/dependencies.py
  app/services/community/router/__init__.py
  app/services/community/router/answers.py
  app/services/community/router/comments.py
  app/services/community/router/interactions.py
  app/services/community/router/questions.py
  app/services/community/router/user.py
  app/services/community/schemas/__init__.py
  app/services/community/schemas/answers.py
  app/services/community/schemas/questions.py
  app/services/community/schemas/user.py
  app/services/community/service.py
  app/static/css/style.css
  app/static/js/app.js
  app/templates/index.html
  frontend/app/coach/page.tsx
  frontend/app/community/my-posts/page.tsx
  frontend/app/community/my-replies/page.tsx
  frontend/app/community/profile/page.tsx
  frontend/components/CompanionInterface.tsx
  frontend/components/coach/ExerciseCard.tsx
  frontend/components/community/CommunityFeed.tsx
  frontend/components/community/PostCard.tsx
  frontend/components/community/QuestionDetailModal.tsx
  frontend/components/community/QuestionModal.tsx
  frontend/components/community/ReplyCard.tsx
  frontend/components/community/UserMenu.tsx
  frontend/lib/api/community.ts
  frontend/lib/user.ts
  frontend/next-env.d.ts
Due: mypy

fix: fix docker
  .env.example
  Dockerfile
  README.md
  backend/app/core/config.py
Due: mypy

ci: update workflow for backend directory
  .github/workflows/ci.yml
Due: none

fix: move Dockerfile to root for deployment platforms
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
Due: none

ci: use Python 3.11 instead of 3.11.5
  .github/workflows/ci.yml
Due: none

chore: add tests
  backend/tests/.gitkeep
Due: none

fix: remove editable install from requirements.txt
  .pre-commit-config.yaml
  backend/requirements.txt
Due: none

Path conditions:
  mypy: any of: \.py$
  uv-export: any of: ^uv\.lock$
  uv-lock-check: any of: ^pyproject\.toml$
